@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url(Javascript.js);

body{
    font-family: Iceland, Arial;
    color: #FFD8B1;
    background: #610023;

}
main{
font-size: 60px;
    margin: 0;
    text-align: left;

}
.topnav {

}

.topnav a {
    float: left;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
}

.topnav a.active {
}

.topnav .icon {
    display: none;
    width: 32px;
    height: 32px;
    filter: invert(80%) sepia(27%) saturate(377%) hue-rotate(341deg) brightness(104%) contrast(102%);

}
.topnav .icon:hover {
    width: 34px;
    height: 34px;
    image-orientation: from-image;
    image-orientation: 45deg;
    filter: invert(95%) sepia(15%) saturate(4264%) hue-rotate(297deg) brightness(79%) contrast(91%);
}


.headerlist{
    font-size: 2vw;
    display: inline-block;
    text-decoration: none;
    color: #FFD8B1;
}
.headerlist:hover{
    color: #C27F79;
}

.Header{
    z-index: 0;
    display: inline-block;
    color: #FFD8B1;
    font-size: 3vw;
    text-decoration: none;
}

@keyframes Titlezoom {
    0% {
        font-size: 5vw;
        position: absolute;
        top: 40%;
        left: 40%;
        margin-top: -50px;
        margin-left: -50px;
    }
    50%{
        font-size: 5vw;
        position: absolute;
        top: 40%;
        left: 40%;
        margin-top: -50px;
        margin-left: -50px;
    }

    100% {
        font-size: 3vw;
        text-align: left;
        position: absolute;
        top: 0vw;
        left: 2vw;
    }
}

@keyframes TitlezoomPhone {
    0% {
        font-size: 12vw;
        white-space: nowrap;
        position: absolute;
        top: 50vw;
        left: 10vw;
    }
    50%{
        font-size: 12vw;
        white-space: nowrap;
        position: absolute;
        top: 50vw;
        left: 10vw;
    }
    100% {
        font-size: 40px;
        text-align: left;
        position: absolute;
        top: 2vw;
        left: 4vw;
    }
}
@keyframes mainVisible {
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }

    100%{
    opacity: 100%;
    }

}
p {
    color: #FFD8B1;
    display: block;
    text-decoration: none;
    animation-name: mainVisible;
    animation-duration: 4s;

}
@media screen and (max-width: 600px) {
    .topnav a{display: none;}
    .topnav a.icon {
        float: right;
        display: block;
        position: absolute;
        right: 2vw;
        top: 6vw;

    }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive:not a.icon {
        position: absolute;
        background-color: #C27F79;


    }
    .topnav.responsive a.icon {

        position: absolute;
        right: 2vw;
        top: 6vw;
    }
    .topnav.responsive a:not a.icon {
    }
    .topnav.responsive a{
        float: none;
        display: block;
        z-index: 1;
        text-align: right;
        position: relative;
        right: 2vw;
        top: 8vw;
    }

    .Header{
        font-size: 40px;
        animation-name:TitlezoomPhone;
        animation-duration: 2s;
        position: absolute;
        top: 2vw;
        left: 4vw;
    }
    .topnav .icon {
        display: none;
        width: 32px;
        height: 32px;
        filter: invert(80%) sepia(27%) saturate(377%) hue-rotate(341deg) brightness(104%) contrast(102%);
        animation-name: mainVisible;
        animation-duration: 4s;
    }

    p {
        color: #FFD8B1;
        text-decoration: none;
        animation-name: mainVisible;
        animation-duration: 4s;

    }

}
@media screen and (min-width:601px){

    .headerlist{
        animation: mainVisible;
        display: inline-block;
        animation-duration: 4s;

        position: relative;
        padding: 14px, 16px;
        top: 1vw;
        left: 60%;
    }
    .Header{
    animation-name: Titlezoom;
    animation-duration:2s;
        display: inline-block;
        position: absolute;
        top: 0vw;
        left: 2vw;
    }
    .topnav .icon {
        display: none;
        width: 32px;
        height: 32px;
        filter: invert(80%) sepia(27%) saturate(377%) hue-rotate(341deg) brightness(104%) contrast(102%);
        animation-name: mainVisible;
        animation-duration: 4s;
    }

    p {
        color: #FFD8B1;
        text-decoration: none;
        animation-name: mainVisible;
        animation-duration: 4s;

    }
}



.footer {

    height:24px; // Replace with the height your footer should be
width: 100%; // Don't change
background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 10pt;
    left: 0pt;

}

.footer_contents {

    height:24px; // Replace with the height your footer should be
width: 1000px; // Visible width of footer

margin:auto;

}


















